<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="{% static 'images/pin.png' %}" type='image/x-icon/gif'>
    <link rel="shortcut icon" href="{% static 'images/pin.svg' %}" type='image/gif'>
    <title>{% block title %}Monitoreo{% endblock %}</title>

    <!-- chart-->
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/8.0.1/css/anychart-ui.min.css"/>

    <!--Chart-->
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/8.0.1/css/anychart-ui.min.css"/>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet"/>
    <!-- CUSTOM STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet"/>

    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <!-- <link href='{static 'http://fonts.googleapis.com/css?family=Open+Sans' %}' rel='stylesheet' type='text/css'/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>

<body>


<div style="margin-top: 2%">

    <div class="navbar navbar-fixed-top " id="header-fixed">
        <center><h3>Sistema de vigilancia de Area Protegida</h3></center>
        <div class="adjust-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!--   <span class="logout-spn">
                     <a href="#" style="color:#fff;">LOGOUT</a>

                   </span>-->
        </div>
    </div>
</div>
<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">

    <div class="sidebar-collapse">
        <ul class="nav">

            <img style="padding-left: 7px;" src="{% static 'images/fv2.jpg' %}"/>
            <hr/>
            <li>
                <a href="/interface/"><i class="fa fa-flag-o "></i>Monitoreo</a>
            </li>

            <li>
                <a href="/admin/"><i class="fa fa-user "></i>Administrador</a>
            </li>

            <li><a href="/interface/lectura"><i class="fa fa-fire "></i>Lectura</a></li>


            <li>
                <a href="/interface/modulo"><i class="fa fa-folder-open-o "></i>Modulos</a>
            </li>


            <li>
                <a href="/interface/media"><i class="fa fa-table"></i>Alerta</a>
            </li>

            <li>
                <a href="/interface/area"><i class="fa fa-map-marker"></i>Mapa</a>
            </li>

            <li>
                <a href="/interface/grafica-temperatura-vs-tiempo"><i class="fa fa-history"></i>Grafica</a>
            </li>
            <!--


            <li>
                <a href="/admin/"><i class="fa fa-user "></i>Administrador</a>
            </li>
            <li>
                <a href="/interface/medidor"><i class="fa fa-edit "></i>Medidores</a>
            </li>


            -->

            {% comment %}                <li>
                    <a href="/interface/mapa"><i class="fa fa-map-marker"></i>Mapa</a>
                </li>{% endcomment %}

            {% comment %}<li>
                <a href="/interface/ty/6006143"><i class="fa fa-file"></i>ty</a>
            </li>{% endcomment %}


        </ul>
    </div>

</nav>
<!-- /. NAV SIDE  -->

<div id="page-wrapper" class="col-lg-8; col-sm-push-11">
    {% block True %}
        <div id="page-inner">
            {% block filter %}
            <!-- /. ROW  -->
                 <form method="post" action=".">{% csrf_token %}


                    <hr/>
                        <div class="row">
                            <div class="col-sm-3"><label for="datepickerInit">Fecha inicial</label><!---->
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                    <input type="date" min="12-01-2017" id="startFc" step="1"  name="init"
                                            class="form-control">
                                </div>
                            </div>


                            <div class="col-sm-3"><label for="datepickerInit">Fecha final</label><!---->
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                    <input type="date" max="12-01-2018" id="endFc" step="1"  id="datepickerInit"
                                           class="form-control">
                                </div>
                            </div>


                            <div class="col-sm-3"><label for="myInput">ID Modulo</label><!---->
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                    <input type="text" id="myInput" placeholder="Favor ingrese el numero de modulo"
                                           name="modulo" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-3"><label for="myInput"><h2></h2></label><!---->
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-send"></span></span>
                                    <button type="submit" class="btn btn-default" onclick="myFunction()">Submit</button>
                                </div>
                            </div>



<script>
function myFunction() {
    alert(document.getElementById('startFc').value);
}
</script>
                    </div>


                 </form>
            {% endblock %}
            {% block contenedor %}
                <div style="height :70%; overflow-x: scroll; overflow-y: auto; ">
                    <!--style="height : 500px; overflow-x: scroll; overflow-y: scroll"-->
                    {% block chart %} {% endblock %}
                        <table width="100%" class="table table-striped table-bordered" cellspacing="0">

                            {% block table %}{% endblock table %}
                        </table>
                    {% block page %}
                        </div>
                            <div class="pagination">
                                <span class="step-links">
                        {% if Object_list.has_previous %}
                            <a href="?page={{ Object_list.previous_page_number }}">anterior</a>
                        {% endif %}

                        <span class="current">
                            Pagina {{ Object_list.number }} de {{ Object_list.paginator.num_pages }}.
                        </span>

                        {% if Object_list.has_next %}
                            <a href="?page={{ Object_list.next_page_number }}">siguiente</a>
                        {% endif %}
                    </span>


                            </div>

                    {% endblock page %}
                <!-- /. PAGE Inner  -->

            {% endblock  %}
       </div>

     {% endblock %}

<!-- /. PAGE WRAPPER  -->

</div>



<div class="footer">

    <!--
        <div class="row">
            <div class="col-lg-12">
                &copy; 2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;"
                                                           target="_blank">www.binarytheme.com</a>
            </div>
        </div>
    -->
</div>


<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- CUSTOM SCRIPTS -->
<script src="{% static 'assets/js/custom.js' %}"></script>

<script src="{% static 'scripts/scripts.js' %}"></script>

<script src="{% static 'scripts/require.js' %}"></script>

{% comment %}<script>
    $("#myInput").on("keyup", function () {
        var value = $(this).val();
        var link = $(location).attr('pathname') + value;


                    $("table tr").each(function(index) {
                if (index !== 0) {

                    $row = $(this);

                    var id = $row.text();

                    if (id.indexOf(value) !== -1) {
                        $row.show();
                    }
                    else {
                        $row.hide();
                    }
                }
            });
    });
</script>{% endcomment %}
<!--
<script>
    $(document).ready(function() {
    $('#paginacion').DataTable();
} );

https://www.w3schools.com/howto/howto_js_filter_table.asp
</script>-->
</body>
</html>