{% extends 'index.html' %}

{% load staticfiles %}
{% block main %}{% endblock %}
{% block calendario %}{% endblock %}
{% block filter %}{% endblock %}
{% block table %} {% endblock %}
{%  block page %} {% endblock %}
{%  block True %}


    <div id="temp" style="width:100%; height: 700px; padding-top: 100px;"></div>


     <script>
 $(function() {
    // setInterval(function() {
    $( document ).ready(function() {
        $.get('/interface/chartTiempo', function (datoo, status) {

            donne = JSON.parse(datoo)

                console.log(donne[0].fields.tiempo);

            var data =[];
            for (i = 0; i< donne.length ; i++){
                data.push({x: donne[i].fields.tiempo, value: donne[i].fields.temperatura})
            }
            // create a chart
            chart = anychart.line();
            // create a line series and set the data
            chart.line(data);

            // set the chart title
            chart.title("(Temperatura *C & Humedad) % versus Tiempo");
            // set the titles of the axes
            var xAxis = chart.xAxis();
            xAxis.title("Tiempo");
            var yAxis = chart.yAxis();
            yAxis.title("Temperatura, *C; Humedad %");

            // set the container id
            chart.container("temp");

            // initiate drawing the chart
            chart.draw();


            //////// chart humedad ///////

            var data_hum =[];
            for (i = 0; i< donne.length ; i++){
                data_hum.push({x: donne[i].fields.tiempo, value: donne[i].fields.humedad})
            }
            // create a chart

            chart.line(data_hum);




        });

     }); //setting the requests to 1.5 second each , 1500




 });

  //  $( window ).on( "load", function() {
 //       console.log( "window loaded" );
  //  });
    </script>


{% endblock %}